@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Modak', cursive;
}

body{
    background: #beaeeb;
}

.Container{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.dise{
    text-align: center;
    display: inline-block;
    padding-top: 100px;
}

.Dises h1{
    color: rgb(0, 255, 149);
    text-shadow: 5px 5px whitesmoke;
    letter-spacing: 5px;
    font-weight: 200;
    font-size: 80px;
    transition: 5s;
}

.dise p{
    font-size: 30px;
}

.dise i{
    font-size: 200px;
    color: rgb(230, 39, 39);
}

button{
    width: 100px;
    padding: 10px 0;
    background: seagreen;
    color: #ffffff;
    border: 0;
    margin-top: 20px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}






@media only screen and (max-width: 770px) {
    .Dises h1{
        font-size: 100px;
    }

    .dise{
        text-align: center;
        display: inline-block;
        padding-top: 0px;
    }

    .dise p{
        font-size: 40px;
    }
    
    .dise i{
        font-size: 250px;
        color: rgb(230, 39, 39);
    }

    button{
        width: 200px;
        font-size: 20px;
        padding: 20px 0px;
    }
}





@media only screen and (max-width: 430px){
    .Dises h1{
        font-size: 50px;
    }

    .dise i{
        font-size: 190px;
        color: rgb(230, 39, 39);
    }
    .dise p{
        font-size: 35px;
    }
}

@media only screen and (max-width: 380px) {
    .Dises h1{
        font-size: 50px;
    }

    .dise i{
        font-size: 150px;
        color: rgb(230, 39, 39);
    }
    .dise p{
        font-size: 30px;
    }
}

@media only screen and (max-width: 320px) {
    body {
      background-color: lightblue;
    }

    .dise{
        text-align: center;
        display: inline-block;
        padding-top: 100px;
    }

    
    .Dises h1{
        color: rgb(0, 255, 149);
        text-shadow: 2px 2px whitesmoke;
        letter-spacing: 5px;
        font-weight: 200;
        font-size: 40px;
        transition: 5s;
    }
    
    .dise p{
        font-size: 25px;
    }
    
    .dise i{
        font-size: 140px;
        color: rgb(230, 39, 39);
    }
    
    button{
        width: 100px;
        padding: 10px 0;
        background: seagreen;
        color: #ffffff;
        border: 0;
        margin-top: 20px;
        border-radius: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}
